.breakout {
    line-height: 1.17;
    .main-index & {
        padding-right: 4em;
        text-align: right;
        width: 30%;
    }
    .main-about & {
        background: $body-bkg-color url(/img/soh-led-ceiling.jpg) 50% 100% no-repeat;
        background-size: cover;
        box-sizing: border-box;
        font-size: 2em;
        margin-bottom: -2em;
        padding: 2em;
        position: relative;
        width: 100%;
        z-index: -1;
        h1 {
            font-size: 2em;
            margin-bottom: 0.3em;
        }
        p {
            margin-bottom: 2em;
            width: 66%;
        }
    }
    quote {
        font-size: 2.4em;
    }
    cite {
        color: $citation-color;
        display: block;
        font-size: 1.75em;
        font-style: normal;
        font-family: $font-family-italic;
    }
    @media (min-width: $screen-lg-min) {
        quote {
            font-size: 2.5833333333em;
        }
    }
}
