.btn {
    border: 1px solid;
    border-radius: 10px;
    display: block;
    font-size: 1em;
    margin: 0 auto;
    padding: 10px;
    text-align: center;

    width: 282px;
}
.btn-primary {
    @include gradient-vertical(#002a2b, #000);
    border-color: $btn-border-color;
}

a.btn-primary {
    color: #fff;
    text-decoration: none;
}
