// CircularPro Black

@font-face {
  font-family: 'CircularPro-Black';
  src: url('#{$font-path}CircularPro-Black/CircularPro-Black.eot');
  src: url('#{$font-path}CircularPro-Black/CircularPro-Black.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}CircularPro-Black/CircularPro-Black.woff') format('woff'),
       url('#{$font-path}CircularPro-Black/CircularPro-Black.ttf')  format('truetype'),
       url('#{$font-path}CircularPro-Black/CircularPro-Black.svg#CircularPro-Black') format('svg');
}
 @font-face {
   font-family: 'CircularPro-BlackItalic';
   src: url('#{$font-path}CircularPro-BlackItalic/CircularPro-BlackItalic.eot');
   src: url('#{$font-path}CircularPro-BlackItalic/CircularPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}CircularPro-BlackItalic/CircularPro-BlackItalic.woff') format('woff'),
        url('#{$font-path}CircularPro-BlackItalic/CircularPro-BlackItalic.ttf')  format('truetype'),
        url('#{$font-path}CircularPro-BlackItalic/CircularPro-BlackItalic.svg#CircularPro-BlackItalic') format('svg');
 }

// CircularPro Bold
@font-face {
    font-family: 'CircularPro-Bold';
    src: url('#{$font-path}CircularPro-Bold/CircularPro-Bold.eot');
    src: url('#{$font-path}CircularPro-Bold/CircularPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}CircularPro-Bold/CircularPro-Bold.woff') format('woff'),
        url('#{$font-path}CircularPro-Bold/CircularPro-Bold.ttf')  format('truetype'),
        url('#{$font-path}CircularPro-Bold/CircularPro-Bold.svg#CircularPro-Bold') format('svg');
}
@font-face {
    font-family: 'CircularPro-BoldItalic';
    src: url('#{$font-path}CircularPro-BoldItalic/CircularPro-BoldItalic.eot');
    src: url('#{$font-path}CircularPro-BoldItalic/CircularPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}CircularPro-BoldItalic/CircularPro-BoldItalic.woff') format('woff'),
        url('#{$font-path}CircularPro-BoldItalic/CircularPro-BoldItalic.ttf')  format('truetype'),
        url('#{$font-path}CircularPro-BoldItalic/CircularPro-BoldItalic.svg#CircularPro-BoldItalic') format('svg');
}

// CircularPro Book
@font-face {
  font-family: 'CircularPro-Book';
  src: url('#{$font-path}CircularPro-Book/CircularPro-Book.eot');
  src: url('#{$font-path}CircularPro-Book/CircularPro-Book.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}CircularPro-Book/CircularPro-Book.woff') format('woff'),
       url('#{$font-path}CircularPro-Book/CircularPro-Book.ttf')  format('truetype'),
       url('#{$font-path}CircularPro-Book/CircularPro-Book.svg#CircularPro-Book') format('svg');
}

@font-face {
  font-family: 'CircularPro-BookItalic';
  src: url('#{$font-path}CircularPro-BookItalic/CircularPro-BookItalic.eot');
  src: url('#{$font-path}CircularPro-BookItalic/CircularPro-BookItalic.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}CircularPro-BookItalic/CircularPro-BookItalic.woff') format('woff'),
       url('#{$font-path}CircularPro-BookItalic/CircularPro-BookItalic.ttf')  format('truetype'),
       url('#{$font-path}CircularPro-BookItalic/CircularPro-BookItalic.svg#CircularPro-BookItalic') format('svg');
  font-style: italic;
}

