//  header
.header {
    background: url(../img/the-lounge-logo@2x.png) 50% $header-top-padding + 10px no-repeat;
    background-size: 50%;
    height: $header-height;
    margin: 0;
    padding-top: $header-top-padding;
    @media all and (orientation: portrait) {
        background-position: 50% $header-top-padding-portrait;
        background-size: 75%;
        height: $header-height + 86px;
    }
    @media (min-width: $screen-lg-min) {
        height: $header-height + 45px;
        background-size: 40%;
    }
}
