// in-page navigation

.nav-in-page {
    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        li {
            text-align: center;
            width: 200px;
            @media all and (orientation: portrait) {
                width: 160px;
            }
            @media (min-width: $screen-lg-min) {
                width: 390px;
            }
            &.nav-item {
                background: url(../img/nav-item-bkg@2x.png) 0 0 no-repeat;
                background-size: 400%;
                position: relative;
                &.nav-item-soh-online {
                    background-position: 33.33333% 0;
                }
                &.nav-item-renewal {
                    background-position: 66.66666% 0;
                }
                &.nav-item-the-lounge {
                    background-position: 100% 0;
                }
                a {
                    color: $white;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    display: block;
                    height: 123px;
                    padding: 0;
                    text-decoration: none;
                    @media all and (orientation: portrait) {
                        height: 97px;
                    }
                    @media (min-width: $screen-lg-min) {
                        height: 240px;
                    }
                    p {
                        background: rgba(0,0,0,0.75);
                        bottom: 0;
                        box-sizing: border-box;
                        font-size: 0.825em;
                        left: 0;
                        margin: 0;
                        padding: 10px 0;
                        position: absolute;
                        width: 100%;
                        @media all and (orientation: portrait) {
                            font-size: 0.8em;
                            padding: 6px 0;
                        }
                    }
                }
            }
        }
    }
}
