// Define typography
html {
    font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
    @media (min-width: $screen-lg-min) {
        font-size: $font-size-lg;
    }
}
body {
    background: $body-bkg-color  url(../img/ghost.png) 50% bottom no-repeat;
    color: $text-color;
    margin: 0;
    padding: 0 10px;
}
h1 {
    font-size: 2.4em;
    margin-top: 0;
}

// Vertically center anything
.vertical-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate
.sr-only-focusable {
    &:active,
    &:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}

.row {
    border: 1px solid transparent;
    border-right-color: $row-border-color;
    border-left-color: $row-border-color;
    margin-bottom: $row-spacing - 2px;
    padding: 0 1em;
    position: relative;
    &:before,
    &:after {
        content: " ";
        border-left: 30px solid $row-border-color;
        border-right: 30px solid $row-border-color;
        background: transparent;
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        width: calc(100% - 60px);
    }
    @media (min-width: $screen-lg-min) {
        padding: 0 2em;
    }
    &:before {
        top: -1px;
        bottom: auto;
    }    &:after {
        bottom: -1px;
    }
    &.row-main {
        border-top-color: transparent;
        margin-bottom: $row-spacing;
        padding-top: 2em;
        padding-bottom: 1em;

        &:before {
            border: none;
            @include gradient-horizontal-three-colors($start-color: $row-border-color, $mid-color: transparent, $color-stop: 50%, $end-color: $row-border-color);
            left: 0;
            top: -1px;
            width: 100%;
        }
        @media all and (orientation: portrait) {
            margin-bottom: $row-spacing-portrait;
        }
    }
    &.row-footer {
        margin-bottom: $row-spacing;
        padding: 0;
        @media all and (orientation: portrait) {
            margin-bottom: $row-spacing-portrait;
        }
    }
    &.row-feedback {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 5px;
        .btn {
            margin: 0 0.5em;
        }
    }
}
.main {
    margin-top: -$header-top-padding*2;
    > .row {
        display: inline-flex;
        flex-direction: row-reverse;
        .article {
            column-count: 2;
            column-gap: 4em;
            width: 70%;
            @media all and (orientation: portrait) {
                column-count: 1;
            }

            p {
                font-size: 1.1666666667em;
                letter-spacing: -0.01em;
//                line-height: 1.2857142857;
                margin-top: 0;
                margin-bottom: 0.5em;
                b {
                    font-family: $font-family-bold;
                    font-style: normal;
                }
            }
        }
    }
}
.main-index {
    @media all and (orientation: portrait) {
        .article {
            column-count: 1;
            p {
                max-width: 21em;
            }
        }
    }
}
.main-about {
    > .row {
        .article {
            background: rgba(0,0,0, 0.75);
            box-sizing: border-box;
            margin-left: $article-margin;
            padding: 1em;
            width: $article-width;
            @media all and (orientation: portrait) {
                column-count: 1;
                margin-left: 9%;
                width: 100%;
                p {
                    max-width: 24em;
                }
            }
        }
    }
}
