//  Colours
$black: #000;
$white: #fff;

$body-bkg-color: $black;
$text-color: $white;
$citation-color: #bcedf4;

$row-border-color: #304245;
$btn-border-color: #999999;


//  Typography

$font-path: "../fonts/";
$font-color: #222;

$font-family: "CircularPro-Book", Helvetica Neue, Helvetica, Arial, sans-serif;
$font-family-italic: "CircularPro-BookItalic", "HelveticaNeueItalic", "HelveticaNeue-Italic", "Helvetica Neue Italic", Helvetica, Arial, sans-serif;
$font-family-bold: "CircularPro-Bold", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size: 16px;
$font-size-lg: 24px;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$line-height: 1.3;

//  Responsiveness
$screen-lg-min: 1260px;
$screen-sm-max: ($screen-lg-min - 1);

$row-spacing: 12px;
$row-spacing-portrait: 20px;

$header-height: 145px;
$header-top-padding: 12px;
$header-top-padding-portrait: 60px;

$article-width: 80%;
$article-margin: 100% - $article-width;

